{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

	<billing-module inline-template>
		<main class="pb-20">

		{% block content %}{% endblock %}

		</main>
	</billing-module>

{% endblock %}


