{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}billing-invoice-add-payment{% endblock %}

{% block modal_content %}

	<form class="w-[512px] relative transform overflow-hidden rounded-lg bg-white my-auto transition-all text-left">
		<h3 class="py-5 px-6 bg-gray-50 text-gray-900 text-lg font-medium">Добавить платёж</h3>
		<div class="py-5 px-6 space-y-5">
			<div class="w-full p-4 rounded-md bg-purple-50 text-purple-900 text-sm text-center">Баланс клиента: ${{ data.user_balance|number_format('2', '.', '') }}</div>
			<div class="flex space-x-4">
				<div class="flex-1 space-y-1">
					<p class="text-gray-700 text-sm font-medium">Способ оплаты</p>
					<div class="relative">
						<button type="button" class="w-full flex justify-between py-2 px-3 rounded-md ring-1 ring-gray-300 text-left text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
							<p class="pointer-events-none">Не выбран</p>
							{{ source('assets/images/arrow.svg') }}
						</button>

						<ul class="dropdown w-full max-h-72 overflow-auto text-sm">
							{% for i in payments() %}
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-left">{{ i }}</button>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="flex-none space-y-1">
					<p class="text-gray-700 text-sm font-medium">Дата</p>
					<div class="relative w-[140px]">
						<input class="inputs w-full pl-3 pr-10 text-sm" placeholder="00/00/0000" type="text">
						<div class="absolute top-2 right-3">
							{{ source('assets/images/calendar.svg') }}
						</div>
					</div>
				</div>
				<div class="flex-none space-y-1">
					<p class="text-gray-700 text-sm font-medium">Время</p>
					<input class="inputs w-[75px] py-2 px-3 text-sm" placeholder="00:00" type="text">
				</div>
			</div>
			<div class="space-y-1">
				<p class="text-gray-700 text-sm font-medium">Сумма</p>
				<div class="relative">
					<div class="pointer-events-none absolute inset-y-0 flex items-center px-3 text-sm">$</div>
					<input class="inputs w-full pl-10 text-sm" placeholder="00.00" type="text">
				</div>
			</div>
			<div class="space-y-1">
				<p class="text-gray-700 text-sm font-medium">Описание</p>
				<textarea class="inputs w-full resize-none py-2 px-3 text-sm" placeholder="Содержание описания"></textarea>
			</div>
			<div class="flex items-center space-x-3">
				<input type="checkbox" id="send_email" class="checkbox">
				<label for="send_email" class="text-gray-500 text-sm">Отправить email с информацией о платеже</label>
			</div>
		</div>

		<div class="flex py-5 px-6 space-x-3 bg-gray-50 text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full rounded-md ring-1 ring-inset ring-gray-300 px-4 py-2 text-gray-700 bg-white hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="w-full rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700">Добавить</button>
		</div>
	</form>

{% endblock %}
