{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}billing-transactions-details{% endblock %}

{% block modal_content %}

	<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full">
		<div class="pointer-events-auto w-screen max-w-lg">
			<div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
				<div class="bg-gray-50">
					<div class="flex items-start justify-between p-6">
						<h2 class="text-lg font-medium text-gray-900">Детали транзакции</h2>
						<div class="ml-3 flex h-7 items-center">
							<button @click="close(false)" type="button" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
								<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="flex-1 p-6 divide-y divide-gray-200 text-sm text-left">
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">ID</div>
						<div class="col-span-2">#2378-1234</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Дата и Время</div>
						<div class="col-span-2">2022-12-22, 18:34:12</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="text-sm font-medium text-gray-500">Инвойс</div>
						<div class="font-medium text-indigo-900 col-span-2">#34809234</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Клиент</div>
						<div class="col-span-2 text-indigo-900 font-medium">
							<p>iseli-alex-badboy007@mail.com</p>
							<p>Leslie Alexander</p>
						</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Метод оплаты</div>
						<div class="col-span-2">Paysera</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="self-center font-medium text-gray-500">Сумма</div>
						<div class="col-span-2 flex items-center justify-between">
							<span>$99.00</span>
							<button @click="billingTransactionsDetailsRefund()" type="button" class="inline-flex items-center rounded-md border border-gray-300 px-4 py-2 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
								<span class="text-xs font-medium text-gray-700">Вернуть</span>
							</button>
						</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="font-medium text-gray-500">Движение средств</div>
						<div class="col-span-2 space-y-4">
							<div>
								<p class="font-medium">2023-01-09 • 09:48:57 • $40.00</p>
								<p>Payment of an invoice from an incoming transaction.</p>
							</div>
							<div>
								<p class="font-medium">2023-01-09 • 09:48:57 • $40.00</p>
								<p>Credit to balance from transaction (balance).</p>
							</div>
						</div>
					</div>

					{% set statuses = [
						{'name': 'Оплачена', 'color': 'green'},
						{'name': 'Отменена', 'color': 'gray'},
						{'name': 'Мошенническая', 'color': 'red'},
					]%}

					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="self-center font-medium text-gray-500">Статус</div>
						<div class="relative col-span-2">
							<button type="button" class="relative w-full max-w-lg rounded-md border border-gray-300 bg-white py-[9px] pl-[13px] pr-10 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="false" aria-expanded-autohide aria-labelledby="listbox-label">
								<div class="flex items-center pointer-events-none">
									<div class="h-2.5 w-2.5 flex-shrink-0 rounded-full bg-green-400"></div>
									<p class="ml-3 truncate">Оплачена</p>
								</div>
								<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
									</svg>
								</div>
							</button>

							<ul class="hidden absolute z-10 mt-1 w-full max-w-lg overflow-auto rounded-md py-1 bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">

								{% for status in statuses %}
									<li class="relative cursor-default group">
										<button type="button" class="w-full flex items-center py-[9px] pl-[13px] space-x-3 group-hover:bg-gray-50">
											<span class="h-2.5 w-2.5 flex-shrink-0 rounded-full bg-{{ status.color }}-400 group-hover:bg-{{ status.color }}-500"></span>
											<span class="text-gray-700 group-hover:text-gray-900 group-hover:font-semibold">{{ status.name }}</span>
										</button>
									</li>
								{% endfor %}

							</ul>
						</div>
					</div>
					<div class="py-5 grid grid-cols-3 gap-6">
						<div class="text-sm font-medium text-gray-500">Детали</div>
						<div class="col-span-2">
							<p>Deposit via Paysera: Payment for is*hosting:</p>
							<p>#2530</p>
						</div>
					</div>
				</div>
			</div>

			<div class="fixed bottom-0 w-full max-w-lg flex flex-shrink-0 justify-end border-t py-5 px-6 sm:px-8 bg-white">
				<button @click="close(false)" type="button" class="rounded-md border border-gray-300 bg-white py-[9px] px-[17px] text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Отменить</button>
				<button type="submit" class="ml-4 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-[9px] px-[17px] text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Сохранить изменения</button>
			</div>
		</div>
	</div>

{% endblock %}

