{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}billing-invoice-notation-edit{% endblock %}

{% block modal_content %}

	<div class="w-[800px] transform overflow-hidden rounded-lg bg-white my-auto text-left shadow-xl transition-all">
		<div class="flex items-center justify-between py-5 px-6 bg-gray-50">
			<h3 class="text-lg font-medium text-gray-900">Изменить примечание</h3>
			<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
				<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</button>
		</div>
		<div class="py-5 px-6">
			<textarea class="resize-none w-full rounded-md border border-gray-200" rows="5">{{ data.invoice_notation }}</textarea>
		</div>
		<div class="flex py-5 px-6 space-x-3 bg-gray-50 text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-gray-700 shadow-sm hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-white shadow-sm hover:bg-indigo-700">Сохранить</button>
		</div>
	</div>

{% endblock %}
