{% extends 'orders/view.order.base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% set currentTab = 'details' %}

{% block details %}

<div class="pt-6 px-8">
DETAILS
</div>

{% endblock %}
