{% extends 'orders/view.order.base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% set currentTab = 'history' %}

{% block details %}

<div class="py-6 px-8">HISTORY</div>

{% endblock %}
