{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}settings-delete-category{% endblock %}

{% block modal_content %}

	<div class="relative transform overflow-hidden rounded-lg bg-white my-auto p-6 space-y-6 text-left shadow-xl transition-all w-full max-w-sm">
		<h3 class="text-lg font-medium leading-6">Удаление категории</h3>
		<p class="text-gray-700 text-sm">Вы уверены, что хотите удалить категорию?</p>
		<div class="flex space-x-3 text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full rounded-md ring-1 ring-gray-300 px-4 py-2 text-gray-700 hover:bg-gray-50">Закрыть</button>
			<button @click="close(true), editingCategory()" type="button" class="w-full rounded-md bg-red-500 px-4 py-2 text-white hover:bg-red-600">Удалить</button>
		</div>
	</div>

{% endblock %}
