{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

	<support-module inline-template>
		<main class="pb-24">

			{% block content %}{% endblock %}

		</main>
	</support-module>

{% endblock %}
