{% extends 'support/support.base.html.twig' %}

{% set currentTab = 'notes' %}

{% block content %}

	<support-settings inline-template>
		<div>
			{% block header %}
				{% include 'support/support.header.view.ticket.html.twig' %}
			{% endblock %}

			<div class="mt-6 px-8 space-y-6">
				<form>
					<div class="relative rounded-md border border-gray-300">

						{% include 'parts/text.editor.head.html.twig' %}

						<input class="w-full py-4 px-6 border-0 focus:outline-none text-sm placeholder-gray-400" placeholder="Содержание заметки">
						<div class="pb-4 px-6">
							<button type="button" class="flex items-center space-x-2 py-2 px-3 bg-gray-50 rounded-full hover:bg-gray-100">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM10.75 6.75C10.75 6.33579 10.4142 6 10 6C9.58579 6 9.25 6.33579 9.25 6.75V9.25H6.75C6.33579 9.25 6 9.58579 6 10C6 10.4142 6.33579 10.75 6.75 10.75H9.25V13.25C9.25 13.6642 9.58579 14 10 14C10.4142 14 10.75 13.6642 10.75 13.25V10.75H13.25C13.6642 10.75 14 10.4142 14 10C14 9.58579 13.6642 9.25 13.25 9.25H10.75V6.75Z" fill="#9CA3AF"/>
								</svg>
								<span class="text-sm font-medium text-gray-500">Прикрепить файл</span>
							</button>
						</div>
					</div>

					<div class="flex justify-end mt-6">
						<button @click="supportTicketAddNote()" type="button" class="py-2 px-4 rounded-md bg-indigo-600 font-medium text-sm text-white shadow-sm hover:bg-indigo-700">Добавить заметку</button>
					</div>

				</form>

				<hr>

				<div class="space-y-4">

					{% for message in messages %}

						{% if message.type == 'admin_note' %}

							{% include 'parts/note.html.twig' %}

						{% endif %}

					{% endfor %}

				</div>
			</div>
		</div>

	</support-settings>

	{% block modals %}
		{% include 'support/modals/support.ticket.note.delete.html.twig' %}
	{% endblock %}

{% endblock %}
