{% extends 'support/support.base.html.twig' %}

{% set currentTab = 'notes' %}

{% block content %}

	<support-settings inline-template>
		<div>
			{% block header %}
				{% include 'support/support.header.view.ticket.html.twig' %}
			{% endblock %}

			<div class="mt-6 px-8 space-y-6">
				<form>
					<div class="relative rounded-md ring-1 ring-gray-300">

						{% include 'parts/text.editor.head.html.twig' %}

						<input class="w-full py-4 px-6 border-0 focus:outline-none text-sm placeholder-gray-400" placeholder="Содержание заметки">
						<div class="pb-4 px-6">
							<button type="button" class="flex items-center space-x-2 py-2 px-3 bg-gray-50 rounded-full hover:bg-gray-100">
								{{ source('misc/svg/add-file.svg') }}
								<span class="text-sm font-medium text-gray-500">Прикрепить файл</span>
							</button>
						</div>
					</div>

					<div class="flex justify-end mt-6">
						<button @click="supportTicketAddNote()" type="button" class="py-2 px-4 rounded-md bg-indigo-600 font-medium text-sm text-white hover:bg-indigo-700">Добавить заметку</button>
					</div>

				</form>

				<hr>

				<div class="space-y-4">

					{% for message in messages %}

						{% if message.type == 'admin_note' %}

							{% include 'parts/note.html.twig' %}

						{% endif %}

					{% endfor %}

				</div>
			</div>
		</div>

	</support-settings>

	{% block modals %}
		{% include 'support/modals/support.ticket.note.delete.html.twig' %}
	{% endblock %}

{% endblock %}
