{% extends 'support/support.base.html.twig' %}

{% set currentTab = 'options' %}

{% block content %}

	<support-settings inline-template>
		<div>
			{% block header %}
				{% include 'support/support.header.view.ticket.html.twig' %}
			{% endblock %}

			<div class="py-6 px-8">
				<form class="space-y-5">
					<div class="flex space-x-6">
						<p class="w-80 text-gray-700 text-sm font-medium self-center">Тема тикета</p>
						<input class="inputs flex-1 py-2 px-4 text-sm" value="{{ data.ticket_title }}" type="text">
					</div>

					<hr>

					<div class="flex space-x-6">
						<p class="w-80 text-sm font-medium text-gray-700 self-center">Назначен</p>
						<div class="relative">
							<button type="button" class="flex items-center w-80 py-2 px-3 space-x-2 rounded-md ring-1 ring-gray-300 hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
								{{ source('misc/svg/user.svg') }}
								<span class="grow text-gray-400 text-sm text-left pointer-events-none">Не назначен</span>
								{{ source('misc/svg/arrow.svg') }}
							</button>

							<ul class="dropdown w-80">
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-400 text-sm text-left">Не назначен</button>
								</li>
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left" title="User">User</button>
								</li>
								<li>
									<button type="button" class="w-full py-2 px-4 text-gray-700 text-sm text-left" title="Administrator">Administrator</button>
								</li>
							</ul>
						</div>
					</div>

					<hr>

					<div class="flex justify-end">
						<button type="submit" class="rounded-md bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700">Сохранить изменения</button>
					</div>
				</form>
			</div>
		</div>

	</support-settings>

{% endblock %}
