{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}support-tickets-close{% endblock %}

{% block modal_content %}

	<div class="relative transform overflow-hidden rounded-lg bg-white my-auto p-6 space-y-6 text-left shadow-xl transition-all w-full max-w-sm">
		<h3 class="text-lg font-medium text-gray-900 leading-6">Закрыть тикеты</h3>
		<div class="text-sm text-gray-700">Вы уверены, что хотите закрыть тикеты?</div>
		<div class="flex space-x-3 text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full rounded-md border border-gray-300 px-4 py-2 text-gray-700 shadow-sm hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-white shadow-sm hover:bg-indigo-700">Закрыть (6)</button>
		</div>
	</div>

{% endblock %}
