{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}ticket-note-delete{% endblock %}

{% block modal_content %}

	<div class="relative transform overflow-hidden w-[384px] rounded-lg bg-white my-auto p-6 space-y-6 text-left shadow-xl transition-all">
		<h3 class="text-lg font-medium text-gray-900">Удалить заметку</h3>
		<div class="text-sm text-gray-700">Вы уверены, что хотите удалить заметку?</div>
		<div class="flex space-x-3">
			<button @click="close(false)" type="button" class="w-full py-2 px-4 rounded-md border border-gray-300 text-gray-700 text-sm font-medium shadow-sm hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="w-full py-2 px-4 rounded-md border border-transparent bg-red-600 text-white text-sm font-medium shadow-sm hover:bg-red-700">Удалить</button>
		</div>
	</div>

{% endblock %}
