{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}support-tickets-delete{% endblock %}

{% block modal_content %}

	<div class="relative transform overflow-hidden rounded-lg bg-white my-auto px-4 py-6 space-y-6 text-left shadow-xl transition-all sm:w-full sm:max-w-lg sm:px-6">
		<h3 class="text-lg font-medium text-gray-900">Удалить тикеты</h3>
		<div class="text-sm text-gray-700">Вы уверены, что хотите удалить тикеты?</div>
		<div class="sm:flex sm:space-x-3 sm:text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full rounded-md border border-gray-300 px-4 py-2 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Отменить</button>
			<button @click="close(true)" type="button" class="max-sm:mt-3 w-full rounded-md border border-transparent bg-red-600 px-4 py-2 text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Удалить (3)</button>
		</div>
	</div>

{% endblock %}
