{% extends'clients/profile/modals/base.modal.html.twig' %}

{% block modal_name %}profile-settings-2fa-modal{% endblock %}

{% block modal_content %}

	<h3 class="text-lg font-medium text-gray-900">Disable 2FA</h3>
	<p class="text-sm text-gray-700">The two-factor authentication function is enabled by the user. Disabling this feature is irreversible.</p>
	<div class="sm:flex sm:space-x-3 sm:text-sm font-medium">
		<button @click="close(false)" type="button" class="w-full rounded-md border border-gray-300 px-4 py-2 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
		<button @click="close(true)" type="button" class="max-sm:mt-3 w-full rounded-md border border-transparent bg-rose-600 px-4 py-2 text-white shadow-sm hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Disable</button>
	</div>

{% endblock %}