{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}credits-add{% endblock %}

{% block modal_content %}

	<div class="relative transform overflow-hidden space-y-5 rounded-lg bg-white text-left shadow-xl transition-all w-full max-w-lg">
		<div class="flex justify-between py-5 px-6 bg-gray-50">
			<h2 class="text-lg font-medium text-gray-900 leading-6">Добавить кредит</h2>
			<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
				<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</button>
		</div>
		<div class="px-6 space-y-5">
			<div class="space-y-1">
				<p class="text-gray-700 text-sm font-medium">Сумма</p>
				<div class="relative rounded-md shadow-sm">
					<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-3">
						<span class="text-gray-900 text-sm">$</span>
					</div>
					<input type="text" class="w-full rounded-md border-gray-300 pl-10 text-sm placeholder:text-gray-400" placeholder="00.00">
				</div>
			</div>
			<div class="space-y-1">
				<p class="text-gray-700 text-sm font-medium">Описание</p>
				<div class="relative rounded-md">
					<textarea class="w-full resize-none py-2 px-3 rounded-md border-gray-300 text-sm placeholder:text-gray-400" placeholder="Комментарий"></textarea>
				</div>
			</div>
		</div>
		<div class="flex py-5 px-6 space-x-3 bg-gray-50 text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full rounded-md border border-gray-300 px-4 py-2 text-gray-700 font-medium shadow-sm bg-white hover:bg-gray-50">Отменить</button>
			<button @click="close(true)" type="button" class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-white font-medium shadow-sm hover:bg-indigo-700">Добавить</button>
		</div>
	</div>

{% endblock %}
