{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}profile-settings-password-modal{% endblock %}

{% block modal_content %}

	<div class="relative space-y-5 bg-white transform overflow-hidden rounded-lg shadow-xl transition-all sm:w-full sm:max-w-lg">
		<div class="flex justify-between py-5 px-6 bg-gray-50">
			<h2 class="text-lg font-medium text-gray-900">Сменить пароль</h2>
			<div class="ml-3 flex h-7 items-center">
				<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
					<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
		</div>
		<div class="px-6 text-left">
			<div class="space-y-1">
				<p class="text-sm text-gray-700 font-medium">Новый пароль</p>
				<div class="flex">
					<div class="flex-grow focus-within:z-10">
						<input type="password" class="w-full rounded-l-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-gray-400" placeholder="•••••••••••••">
					</div>
					<button type="button" class="-ml-px rounded-r-md border border-gray-300 shadow-sm bg-gray-50 px-4 py-2 text-sm text-gray-900 hover:bg-gray-100 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">Сгенерировать</button>
				</div>
			</div>
		</div>
		<div class="py-5 px-6 bg-gray-50">
			<div class="sm:flex sm:space-x-3 sm:text-sm font-medium">
				<button @click="close(false)" type="button" class="w-full rounded-md border border-gray-300 px-4 py-2 text-gray-700 font-medium shadow-sm bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Отмена</button>
				<button @click="close(true)" type="button" class="max-sm:mt-3 w-full rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-white font-medium shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Изменить</button>
			</div>
		</div>
	</div>

{% endblock %}