{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}profile-settings-password-modal{% endblock %}

{% block modal_content %}

	<div class="relative bg-white transform overflow-hidden rounded-lg shadow-xl transition-all w-full max-w-lg">
		<div class="flex items-center justify-between py-5 px-6 bg-gray-50">
			<h2 class="text-lg leading-6 font-medium">Сменить пароль</h2>
			<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
				{{ source('assets/images/close.svg') }}
			</button>
		</div>
		<div class="py-5 px-6 space-y-1 text-left">
			<p class="text-sm text-gray-700 font-medium">Новый пароль</p>
			<div class="flex w-full">
				<div class="relative flex items-center flex-grow items-stretch focus-within:z-10">
					<input v-model="password" :type="isPasswordHidden ? 'password' : 'text'" placeholder="•••••••••••••"
					       class="inputs block w-full pr-10 rounded-r-none text-sm">
					<button @click="toggleShowHide()" type="button">
						<i v-if="isPasswordHidden" class="absolute top-2 right-3">
							{{ source('assets/images/eye-slash.svg') }}
						</i>
						<i v-if="!isPasswordHidden" class="absolute top-2 right-3">
							{{ source('assets/images/eye.svg') }}
						</i>
					</button>
				</div>
				<button @click="generateNewPassword()" type="button" class="relative inline-flex items-center py-2 px-3 rounded-r-md ring-1 ring-gray-300 bg-gray-50 text-sm font-medium text-gray-700 hover:bg-gray-100">Сгенерировать</button>
			</div>
		</div>
		<div class="flex py-5 px-6 space-x-3 bg-gray-50 text-sm font-medium">
			<button @click="close(false)" type="button" class="w-full py-2 px-4 rounded-md ring-1 ring-gray-300 text-gray-700 bg-white hover:bg-gray-50">Отмена</button>
			<button @click="close(true)" type="button" class="w-full py-2 px-4 rounded-md bg-indigo-600 text-white hover:bg-indigo-700">Изменить</button>
		</div>
	</div>

{% endblock %}
