{% extends'clients/profile/modals/base.modal.html.twig' %}

{% block modal_name %}profile-settings-password-modal{% endblock %}

{% block modal_content %}

	<h3 class="text-lg font-medium text-gray-900">Change password</h3>
	<div class="space-y-1">
		<p class="text-sm text-gray-700">New password</p>
		<div class="flex">
			<div class="flex-grow focus-within:z-10">
				<input type="password" class="w-full rounded-l-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-gray-400" placeholder="•••••••••••••">
			</div>
			<button type="button" class="-ml-px rounded-r-md border border-gray-300 shadow-sm bg-gray-50 px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">Generate</button>
		</div>
	</div>
	<div class="sm:flex sm:space-x-3 sm:text-sm font-medium">
		<button @click="close(false)" type="button" class="w-full rounded-md border border-gray-300 px-4 py-2 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
		<button type="button" class="max-sm:mt-3 w-full rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Change</button>
	</div>

{% endblock %}