{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}orders-special-setting-modal{% endblock %}

{% block modal_content %}

	<div class="relative w-full max-w-lg bg-white transform overflow-hidden rounded-lg shadow-xl transition-all">
		<div class="flex justify-between py-5 px-6 bg-gray-50">
			<h2 class="text-lg leading-6 font-medium">Специальные настройки</h2>
			<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500">
				{{ source('misc/svg/close.svg') }}
			</button>
		</div>
		<div class="p-6 pt-5">
			<div class="flex items-center py-2 space-x-2">
				<input type="checkbox" id="special" class="checkbox">
				<label for="special" class="text-sm">Отображать email вместо имени клиента</label>
			</div>
		</div>
	</div>

{% endblock %}
