{% extends'/misc/modals/base.modal.html.twig' %}

{% block modal_name %}orders-special-setting-modal{% endblock %}

{% block modal_content %}

	<div class="relative bg-white transform overflow-hidden rounded-lg shadow-xl transition-all sm:w-full sm:max-w-lg">
		<div class="flex justify-between py-5 px-6 bg-gray-50">
			<h2 class="text-lg font-medium text-gray-900">Специальные настройки</h2>
			<div class="ml-3 flex h-7 items-center">
				<button @click="close(false)" type="button" class="rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
					<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
		</div>
		<div class="py-7 px-6 flex items-center space-x-2">
			<input type="checkbox" id="spec_options" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
			<label for="spec_options" class="text-gray-900 text-sm">Отображать email вместо имени клиента</label>
		</div>
	</div>

{% endblock %}
