{% extends 'clients/clients.html.twig' %}

{% set currentTab = 'invoices' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    {% block header %}

        {% include 'clients/header.profile.html.twig' %}

    {% endblock %}

    <profile-settings inline-template>

    {% block control %}

        <div class="mx-auto mt-4 px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between flex-shrink-0">
                <div class="relative">
                    <button type="button" class="relative inline-flex items-center rounded-md bg-indigo-600 pl-[15px] pr-[17px] py-[9px] shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.75 4.75C10.75 4.33579 10.4142 4 10 4C9.58579 4 9.25 4.33579 9.25 4.75V9.25H4.75C4.33579 9.25 4 9.58579 4 10C4 10.4142 4.33579 10.75 4.75 10.75L9.25 10.75V15.25C9.25 15.6642 9.58579 16 10 16C10.4142 16 10.75 15.6642 10.75 15.25V10.75L15.25 10.75C15.6642 10.75 16 10.4142 16 10C16 9.58579 15.6642 9.25 15.25 9.25H10.75V4.75Z" fill="white"/>
                        </svg>
                        <span class="ml-2 text-sm font-medium text-white">Добавить</span>
                    </button>
                </div>

                <div class="flex items-center">
                    <div class="w-48 max-w-lg lg:max-w-xs">
                        <div class="relative">
                            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-400 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" placeholder="Поиск по ID" type="search">
                        </div>
                    </div>
                    <button @click="invoicesFilters()" type="button" class="inline-flex items-center ml-2 rounded-md border border-gray-300 px-4 py-2 text-sm shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.62803 1.60102C5.02718 1.2056 7.48986 1 10 1C12.5101 1 14.9728 1.2056 17.372 1.60102C17.7342 1.66072 18 1.97389 18 2.34103V4.62868C18 5.22542 17.7629 5.79771 17.341 6.21967L12.659 10.9017C12.2371 11.3236 12 11.8959 12 12.4926V15.5291C12 16.2126 11.6893 16.859 11.1556 17.286L9.21852 18.8357C8.99339 19.0158 8.68496 19.0509 8.42511 18.926C8.16526 18.8011 8 18.5383 8 18.25V12.4926C8 11.8959 7.76295 11.3236 7.34099 10.9017L2.65901 6.21967C2.23705 5.79771 2 5.22542 2 4.62868V2.34103C2 1.97389 2.26578 1.66072 2.62803 1.60102Z" fill="#6B7280"/>
                        </svg>
                        <span class="ml-2">Фильтры</span>
                    </button>
                </div>
            </div>
        </div>

    {% endblock %}

    </profile-settings>



    {% block table %}

        <div class="hidden sm:block">
            <div class="mx-auto px-4 sm:px-6 lg:px-8">
                <div class="mt-2 flex flex-col">
                    <div class="min-w-full overflow-hidden overflow-x-auto align-middle shadow sm:rounded-lg">

                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr class="flex bg-gray-50 text-gray-900 text-sm border border-t">
                                    <th class="flex-none w-32 px-6 py-3 text-left font-medium" scope="col">N</th>
                                    <th class="grow w-40 px-6 py-3 text-left font-medium" scope="col">Статус</th>
                                    <th class="flex-none w-40 px-6 py-3 text-left font-medium whitespace-nowrap" scope="col">Способ оплаты</th>
                                    <th class="flex-none w-40 px-6 py-3 text-left font-medium whitespace-nowrap" scope="col">Дата выписки</th>
                                    <th class="flex-none w-40 px-6 py-3 text-left font-medium whitespace-nowrap" scope="col">Оплатить до</th>
                                    <th class="flex-none w-40 px-6 py-3 text-right font-medium" scope="col">Сумма</th>
                                </tr>
                            </thead>

                            <tbody class="divide-y divide-gray-200 bg-white">

                                <tr class="flex text-sm">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">Pending</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$99.00</td>
                                </tr>
                                <tr class="flex text-sm">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">Paid</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$99.99</td>
                                </tr>
                                <tr class="flex text-sm bg-gray-50">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-purple-100 text-purple-800">Draft</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$190.00</td>
                                </tr>
                                <tr class="flex text-sm">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">Cancelled</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$250.00</td>
                                </tr>
                                <tr class="flex text-sm">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">Paid</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$99.99</td>
                                </tr>
                                <tr class="flex text-sm">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">Cancelled</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$260.00</td>
                                </tr>
                                <tr class="flex text-sm">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">Pending</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$130.99</td>
                                </tr>
                                <tr class="flex text-sm">
                                    <td class="flex-none w-32 whitespace-nowrap px-6 py-4 text-left font-medium">098249</td>
                                    <td class="grow w-40 whitespace-nowrap px-6 py-4 text-sm text-left">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">Overdue</span>
                                    </td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">Coinpayments</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/02/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">17/03/2023</td>
                                    <td class="flex-none w-40 whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-right">$199.00</td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <div class="flex items-center justify-between border-t border-gray-200 bg-gray-50 px-4 py-4 sm:px-6">
                            <div class="flex flex-1 justify-between sm:hidden">
                                <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                                <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
                            </div>
                            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                                <div>
                                    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                                        <a href="#" class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                                            <span class="sr-only">Previous</span>
                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                                        <a href="#" aria-current="page" class="relative z-10 inline-flex items-center border border-indigo-500 bg-indigo-50 px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20">1</a>
                                        <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">2</a>
                                        <a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">3</a>
                                        <span class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700">...</span>
                                        <a href="#" class="relative hidden items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">8</a>
                                        <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">9</a>
                                        <a href="#" class="relative inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">10</a>
                                        <a href="#" class="relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                                            <span class="sr-only">Next</span>
                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </nav>
                                </div>
                                <div class="flex items-center">
                                    <p class="text-sm font-medium text-gray-500">1 - 8 из 8</p>
                                    <div class="flex ml-4">
                                        <select class="relative inline-flex items-center rounded-md border border-gray-300 pl-3 pr-9 py-2 text-sm text-gray-900">
                                            {% for i in range(low=25, high=100, step=25) %}
                                                <option>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block modals %}
        {% include 'clients/profile/modals/clients.invoices.filters.html.twig' %}
    {% endblock %}

{% endblock %}