{% extends 'clients/clients.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% set currentTab = 'overview' %}

{% block content %}

    {% block header %}

        {% include 'clients/header.profile.html.twig' %}

    {% endblock %}

    <dl class="mx-8 pt-4 divide-y divide-gray-200">
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">ID</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">#222</dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">Name</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">Aleksandr Miloslavskiy</dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">Last used language</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">Ru</dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">Email</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">miloslavskiy@tut.by</dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">Phone number</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">No</dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">Address</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">
                <p>Belarus</p>
                <p>Minsk city</p>
                <p>Kollektornaya, 32-60</p>
                <p>220004</p>
            </dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">Company name</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">BrainQ</dd>
        </div>
        <div class="sm:flex items-center py-5 sm:grid sm:grid-cols-3 gap-4">
            <dt class="text-sm font-medium text-gray-500">Last login</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">
                <span>2022-09-06 15:29:32 • 37.214.25.177 (BY)</span>
                <button type="button" class="inline-flex items-center ml-4 rounded-md border border-gray-300 px-4 py-2 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <span class="text-xs font-medium text-gray-700">History</span>
                </button>
            </dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">Registration IP</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">37.214.25.177 (BY)</dd>
        </div>
        <div class="py-5 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-medium text-gray-500">2FA enabled</dt>
            <dd class="max-sm:mt-2 text-sm text-gray-900 sm:col-span-2">
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">Enabled</span>
                <span class="hidden inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">Disabled</span>
            </dd>
        </div>
    </dl>

{% endblock %}