{% extends 'clients/clients.html.twig' %}

{% set currentTab = 'profile' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

	{% block header %}
		{% include 'clients/header.profile.html.twig' %}
	{% endblock %}

	<profile-settings qwe="1" inline-template>
		<form class="mx-auto pt-6 px-4 sm:px-6 lg:px-8 space-y-5 divide-y divide-gray-200">
			<h3 class="text-lg font-medium leading-6 text-gray-900">Personal data</h3>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<label for="first-name" class="block text-sm font-medium text-gray-700 self-center">First name</label>
				<div class="sm:col-span-2">
					<input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
				</div>
			</div>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<label for="last-name" class="block text-sm font-medium text-gray-700 self-center">Last name</label>
				<div class="sm:col-span-2">
					<input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
				</div>
			</div>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<label for="company" class="block text-sm font-medium text-gray-700 self-center">Company</label>
				<div class="sm:col-span-2">
					<input type="text" name="company" id="company" class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
				</div>
			</div>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<label for="profile_email" class="block text-sm font-medium text-gray-700 self-center">Email</label>
				<div class="sm:col-span-2">

					<div class="flex max-w-lg">
						<div class="flex-grow focus-within:z-10">
							<input type="email" name="profile_email" id="profile_email" class="w-full rounded-l-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
						</div>

						<div class="relative">
							<button type="button" class="relative flex items-center w-full -ml-px cursor-default space-x-2 rounded-r-md border border-gray-300 bg-gray-50 py-2 px-3 text-left shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="false" aria-expanded-autohide aria-labelledby="listbox-label">
                                <span class="pointer-events-none h-2.5 w-2.5 flex-shrink-0 rounded-full bg-green-400"></span>
                                <span class="pointer-events-none">Verified</span>
                                <svg class="pointer-events-none" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
                                </svg>
							</button>

							<!--
							  Select popover, show/hide based on select state.

							  Entering: ""
								From: ""
								To: ""
							  Leaving: "transition ease-in duration-100"
								From: "opacity-100"
								To: "opacity-0"
							-->
							<ul class="absolute z-10 mt-1 max-h-60 overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
								<!--
								  Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

								  Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
								-->
								<li class="text-gray-900 relative cursor-pointer select-none py-2 pl-3 pr-9 hover:bg-gray-100" id="listbox-option-0" role="option">
									<div class="flex items-center">
										<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
										<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-green-400" aria-hidden="true"></span>
										<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
										<span class="font-normal ml-3 block truncate">Verified</span>
									</div>
								</li>
								<li class="text-gray-900 relative cursor-pointer select-none py-2 pl-3 pr-9 hover:bg-gray-100" id="listbox-option-1" role="option">
									<div class="flex items-center">
										<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
										<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-red-400" aria-hidden="true"></span>
										<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
										<span class="font-normal ml-3 block truncate">Not verified</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<label class="block text-sm font-medium text-gray-700 self-center">Client status</label>
				<div class="relative sm:col-span-2">
					<button type="button" class="relative w-full max-w-lg cursor-default rounded-md border border-gray-300 bg-white py-2 pl-3 pr-10 text-left shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="false" aria-expanded-autohide aria-labelledby="listbox-label">
                        <span class="pointer-events-none flex items-center">
                            <span aria-label="Online" class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-green-400"></span>
                            <span class="ml-3 block truncate">Active</span>
                        </span>
						<span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
                            </svg>
                        </span>
					</button>

					<!--
					  Select popover, show/hide based on select state.

					  Entering: ""
						From: ""
						To: ""
					  Leaving: "transition ease-in duration-100"
						From: "opacity-100"
						To: "opacity-0"
					-->
					<ul class="absolute z-10 mt-1 max-h-60 w-full max-w-lg overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
						<!--
						  Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

						  Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
						-->
						<li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-0" role="option">
							<div class="flex items-center">
								<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
								<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-green-400" aria-hidden="true"></span>
								<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
								<span class="font-normal ml-3 block truncate">Active</span>
							</div>
							<span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                                </svg>
                            </span>
						</li>
						<li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-1" role="option">
							<div class="flex items-center">
								<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
								<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-yellow-400" aria-hidden="true"></span>
								<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
								<span class="font-normal ml-3 block truncate">Pending</span>
							</div>
							<span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                                </svg>
                            </span>
						</li>
						<li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-2" role="option">
							<div class="flex items-center">
								<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
								<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-gray-400" aria-hidden="true"></span>
								<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
								<span class="font-normal ml-3 block truncate">Inactive</span>
							</div>
							<span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                                </svg>
                            </span>
						</li>
						<li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-3" role="option">
							<div class="flex items-center">
								<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
								<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-gray-400" aria-hidden="true"></span>
								<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
								<span class="font-normal ml-3 block truncate">Closed</span>
							</div>
							<span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                                </svg>
                            </span>
						</li>
					</ul>
				</div>
			</div>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<label class="block text-sm font-medium text-gray-700 self-center">Client group</label>
				<div class="relative sm:col-span-2">
					<button type="button" class="relative w-full max-w-lg cursor-default rounded-md border border-gray-300 bg-white py-2 pl-3 pr-10 text-left shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="false" aria-expanded-autohide aria-labelledby="listbox-label">
                        <span class="pointer-events-none flex items-center">
                            <span aria-label="Online" class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-orange-500"></span>
                            <span class="ml-3 block truncate">VIP</span>
                        </span>
						<span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
                            </svg>
                        </span>
					</button>

					<!--
					  Select popover, show/hide based on select state.

					  Entering: ""
						From: ""
						To: ""
					  Leaving: "transition ease-in duration-100"
						From: "opacity-100"
						To: "opacity-0"
					-->
					<ul class="absolute z-10 mt-1 max-h-60 w-full max-w-lg overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
						<!--
						  Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

						  Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
						-->
						<li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-0" role="option">
							<div class="flex items-center">
								<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
								<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-orange-500" aria-hidden="true"></span>
								<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
								<span class="font-normal ml-3 block truncate">VIP</span>
							</div>
							<span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                                </svg>
                            </span>
						</li>
						<li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-1" role="option">
							<div class="flex items-center">
								<!-- Online: "bg-green-400", Not Online: "bg-gray-200" -->
								<span class="inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-gray-400" aria-hidden="true"></span>
								<!-- Selected: "font-semibold", Not Selected: "font-normal" -->
								<span class="font-normal ml-3 block truncate">None</span>
							</div>
							<span class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                                </svg>
                            </span>
						</li>
					</ul>
				</div>
			</div>

			<div class="pt-5 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<div class="col-start-2">
					<button @click="save()" type="button" class="rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save changes</button>
				</div>
			</div>

			<h3 class="pt-10 text-lg font-medium leading-6 text-gray-900">Security</h3>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<div class="text-sm font-medium text-gray-700 self-center">Password</div>
				<button @click="changePassword()" type="button" class="w-fit rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Change</button>
			</div>

			<div class="pt-5 max-sm:space-y-2 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4">
				<div class="text-sm font-medium text-gray-700 self-center">2 Factor Authentication</div>
				<button @click="disable2fa()" type="button" class="w-fit rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Disable 2FA</button>
			</div>
		</form>
	</profile-settings>

	{% block modals %}
		{% include 'clients/profile/modals/password.modal.html.twig' %}
		{% include 'clients/profile/modals/2fa.modal.html.twig' %}
		{% include 'clients/profile/modals/popups/password.popup.html.twig' %}
		{% include 'clients/profile/modals/popups/2fa.popup.html.twig' %}
	{% endblock %}

{% endblock %}