{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'profile' %}

{% block content %}

	<profile-settings inline-template>
		<div class="pt-6 pb-4 px-8 space-y-10">
			<form class="space-y-5 divide-y text-sm">
				<h3 class="text-lg font-medium leading-6">Персональные данные</h3>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Имя</p>
					<input type="text" autocomplete="given-name" class="inputs w-80 py-2 px-3 text-sm" value="Lex">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Фамилия</p>
					<input type="text" autocomplete="family-name" class="inputs w-80 py-2 px-3 text-sm" value="Stark">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Название компании</p>
					<input type="text" class="inputs w-80 py-2 px-3 text-sm" placeholder="Microsoft">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Email</p>
					<input type="email" class="inputs w-80 py-2 px-3 text-sm" value="valeron@mail.com">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Номер телефона</p>
					<input type="tel" class="inputs w-80 py-2 px-3 text-sm" placeholder="+1">
				</div>

				{% set statuses = {'Active': 'green', 'Inactive': 'gray', 'Closed': 'gray'} %}

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Статус аккаунта</p>
					<div class="relative w-80">
						<button type="button" class="w-full flex rounded-md ring-1 ring-gray-300 py-2 px-3 space-x-2 text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
							{{ source('misc/svg/circles/green-400.svg') }}
							<div class="grow text-left pointer-events-none">Active</div>
							{{ source('misc/svg/arrow.svg') }}
						</button>

						<ul class="dropdown w-full overflow-auto">
							{% for val, css in statuses %}
								<li class="relative cursor-default select-none" role="option">
									<button type="button" class="flex items-center w-full py-2 px-3 space-x-2 hover:bg-gray-50">
										<div class="h-5 w-5 p-[5px]">
											<div class="h-2.5 w-2.5 flex-shrink-0 rounded-full bg-{{ css }}-400"></div>
										</div>
										<p class="text-sm">{{ val }}</p>
									</button>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="flex pt-5 space-x-6">
					<div class="w-[344px] h-9 flex">
						<p class="self-center text-sm font-medium text-gray-700">Верификация email</p>
					</div>
					<div class="flex items-center space-x-2">
						<input id="email_verif" type="checkbox" class="checkbox">
						<label for="email_verif" class="text-sm">Верифицирован</label>
					</div>
				</div>

				<div class="pt-5 space-y-5">
					<div class="flex space-x-6">
						<div class="w-1/2 text-lg font-medium leading-6">Ограничения</div>
						<div class="w-1/2 text-lg font-medium leading-6">Разрешения</div>
					</div>
					<div class="flex space-x-6 text-gray-700 text-sm font-medium">
						<div class="w-1/2 p-5 bg-gray-50 border-b border-gray-300 rounded-xl">
							<div class="flex items-center justify-between pb-5 border-b">
								<div>Запретить пополнение баланса</div>
								<label for="toggle_balance" class="relative flex items-center cursor-pointer">
									<input type="checkbox" id="toggle_balance" class="sr-only">
									<div class="toggle_body"></div>
									<div class="toggle_dot"></div>
								</label>
							</div>
							<div class="flex items-center justify-between py-5 border-b">
								<div>Запретить оплату инвойсов</div>
								<label for="toggle_invoicing" class="relative flex items-center cursor-pointer">
									<input type="checkbox" id="toggle_invoicing" class="sr-only" checked>
									<div class="toggle_body"></div>
									<div class="toggle_dot"></div>
								</label>
							</div>
							<div class="flex items-center justify-between pt-5">
								<div>Запретить создание новых заказов и продлений</div>
								<label for="toggle_orders" class="relative flex items-center cursor-pointer">
									<input type="checkbox" id="toggle_orders" class="sr-only">
									<div class="toggle_body"></div>
									<div class="toggle_dot"></div>
								</label>
							</div>
						</div>
						<div class="w-1/2 p-5 bg-gray-50 border-b border-gray-300 rounded-xl">
							<div class="flex items-center justify-between pb-5 border-b">
								<div>Разрешить отмену услуг в ЛК со штрафом</div>
								<label for="toggle_services" class="relative flex items-center cursor-pointer">
									<input type="checkbox" id="toggle_services" class="sr-only">
									<div class="toggle_body"></div>
									<div class="toggle_dot"></div>
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="flex justify-center pt-5">
					<button @click="profileSaveChanges()" type="button" class="py-2 px-4 rounded-md bg-indigo-600 text-sm font-medium text-white hover:bg-indigo-700">Сохранить изменения</button>
				</div>

				<hr>
			</form>

			<div class="space-y-5 divide-y">
				<h3 class="text-lg font-medium leading-6">Безопасность</h3>
				<div class="flex items-center pt-5 space-x-6 text-gray-700 text-sm font-medium">
					<div class="w-[344px]">Пароль</div>
					<button @click="changePassword()" type="button" class="py-2 px-3 rounded-md ring-1 ring-gray-300 leading-4 hover:bg-gray-50">Изменить</button>
				</div>
				<div class="flex items-center pt-5 space-x-6 text-gray-700 text-sm font-medium">
					<div class="w-[344px]">2FA</div>
					<button @click="disable2fa()" type="button" class="py-2 px-3 rounded-md ring-1 ring-gray-300 leading-4 hover:bg-gray-50">Отключить 2FA</button>
					<p>Код восстановления: HsxS-BCve-hoYo-PfWn-Wqvk</p>
				</div>
			</div>

			{% block modals %}
				{% include 'clients/profile/modals/clients.profile.password.html.twig' %}
				{% include 'clients/profile/modals/clients.profile.2fa.html.twig' %}
			{% endblock %}
		</div>
	</profile-settings>

{% endblock %}
