{% extends 'clients/clients.base.html.twig' %}

{% set currentTab = 'profile' %}

{% block content %}

	<profile-settings inline-template>
		<div>
			<form class="py-6 px-8 space-y-5 divide-y text-gray-900 text-sm">
				<h3 class="text-lg font-medium leading-6">Персональные данные</h3>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Имя</p>
					<input type="text" autocomplete="given-name" class="w-80 py-2 px-3 rounded-md border-gray-300 text-sm focus:border-indigo-500 focus:ring-indigo-500" value="Lex">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Фамилия</p>
					<input type="text" autocomplete="family-name" class="w-80 py-2 px-3 rounded-md border-gray-300 text-sm shadow-sm focus:border-indigo-500 focus:ring-indigo-500" value="Stark">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Название компании</p>
					<input type="text" class="w-80 py-2 px-3 rounded-md border-gray-300 text-sm shadow-sm focus:border-indigo-500 focus:ring-indigo-500" placeholder="Microsoft">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Email</p>
					<input type="email" class="w-80 py-2 px-3 rounded-md text-sm border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" value="valeron@mail.com">
				</div>

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Номер телефона</p>
					<input type="tel" class="w-80 py-2 px-3 text-sm rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" placeholder="+1">
				</div>

				{% set statuses = {'Active': 'green', 'Inactive': 'gray', 'Closed': 'gray'} %}

				<div class="flex pt-5 space-x-6">
					<p class="w-[344px] font-medium text-gray-700 self-center">Статус аккаунта</p>
					<div class="relative w-80">
						<button type="button" class="w-full flex rounded-md border border-gray-300 py-2 px-3 space-x-2 shadow-sm text-sm hover:bg-gray-50" aria-expanded="false" aria-expanded-autohide>
							<div class="h-5 w-5 p-[5px] pointer-events-none">
								<div class="h-2.5 w-2.5 flex-shrink-0 rounded-full bg-green-400"></div>
							</div>
							<div class="flex-1 text-left pointer-events-none">Active</div>
							<svg class="arrow pointer-events-none" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.29289C5.68342 6.90237 6.31658 6.90237 6.7071 7.29289L9.99999 10.5858L13.2929 7.29289C13.6834 6.90237 14.3166 6.90237 14.7071 7.29289C15.0976 7.68342 15.0976 8.31658 14.7071 8.70711L10.7071 12.7071C10.3166 13.0976 9.68341 13.0976 9.29289 12.7071L5.29289 8.70711C4.90237 8.31658 4.90237 7.68342 5.29289 7.29289Z" fill="#9CA3AF"/>
							</svg>
						</button>

						<ul class="hidden absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
							{% for val, css in statuses %}
								<li class="text-gray-900 relative cursor-default select-none" role="option">
									<button type="button" class="flex items-center w-full py-2 px-3 space-x-2 hover:bg-gray-50">
										<div class="h-5 w-5 p-[5px]">
											<div class="h-2.5 w-2.5 flex-shrink-0 rounded-full bg-{{ css }}-400"></div>
										</div>
										<p>{{ val }}</p>
									</button>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="flex pt-5 space-x-6">
					<div class="w-[344px] h-[38px] flex">
						<p class="self-center text-sm font-medium text-gray-700">Верификация email</p>
					</div>
					<div class="flex items-center space-x-2">
						<input id="profile_email_verif" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
						<label for="profile_email_verif" class="text-gray-900 text-sm">Верифицирован</label>
					</div>
				</div>

				<div class="pt-5 space-y-5">
					<div class="flex space-x-10 text-gray-900 text-lg font-medium">
						<div class="w-1/2">Ограничения</div>
						<div class="w-1/2">Разрешения</div>
					</div>
					<div class="flex space-x-10 text-gray-700 text-sm font-medium">
						<div class="w-1/2 p-5 bg-gray-50 border-b rounded-xl">
							<div class="flex items-center justify-between pb-5 border-b">
								<div>Запретить пополнение баланса</div>
								<label for="toggle_topup" class="relative flex items-center cursor-pointer">
									<input type="checkbox" id="toggle_topup" class="sr-only">
									<div class="toggle block bg-gray-200 w-11 h-6 rounded-full"></div>
									<div class="dot absolute left-0.5 top-0.5 bg-white w-5 h-5 rounded-full transition"></div>
								</label>
							</div>
							<div class="flex items-center justify-between py-5 border-b">
								<div>Запретить оплаты инвойсов</div>
								<label for="toggle_invoicing" class="relative flex items-center cursor-pointer">
									<input type="checkbox" checked id="toggle_invoicing" class="sr-only">
									<div class="toggle block bg-gray-200 w-11 h-6 rounded-full"></div>
									<div class="dot absolute left-0.5 top-0.5 bg-white w-5 h-5 rounded-full transition"></div>
								</label>
							</div>
							<div class="flex items-center justify-between pt-5">
								<div>Запретить создание новых заказов и продлений</div>
								<label for="toggle_orders" class="relative flex items-center cursor-pointer">
									<input type="checkbox" id="toggle_orders" class="sr-only">
									<div class="toggle block bg-gray-200 w-11 h-6 rounded-full"></div>
									<div class="dot absolute left-0.5 top-0.5 bg-white w-5 h-5 rounded-full transition"></div>
								</label>
							</div>
						</div>
						<div class="w-1/2 p-5 bg-gray-50 border-b rounded-xl">
							<div class="flex items-center justify-between pb-5 border-b">
								<div>Разрешить отмену услуг в ЛК со штрафом</div>
								<label for="toggle_services" class="relative flex items-center cursor-pointer">
									<input type="checkbox" id="toggle_services" class="sr-only">
									<div class="toggle block bg-gray-200 w-11 h-6 rounded-full"></div>
									<div class="dot absolute left-0.5 top-0.5 bg-white w-5 h-5 rounded-full transition"></div>
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="flex pt-5 justify-center">
					<button @click="profileSaveChanges()" type="button" class="py-2 px-4 rounded-md border border-transparent bg-indigo-600 text-sm font-medium text-white shadow-sm hover:bg-indigo-700">Сохранить изменения</button>
				</div>

				<h3 class="pt-10 text-lg font-medium leading-6">Безопасность</h3>

				<div class="flex items-center pt-5 space-x-6 text-gray-700 text-sm font-medium">
					<div class="w-[344px]">Пароль</div>
					<button @click="changePassword()" type="button" class="py-2 px-3 rounded-md ring-1 ring-gray-300 shadow-sm leading-4 hover:bg-gray-50">Изменить</button>
				</div>

				<div class="flex items-center pt-5 space-x-6 text-gray-700 text-sm font-medium">
					<div class="w-[344px]">2FA</div>
					<button @click="disable2fa()" type="button" class="py-2 px-3 rounded-md ring-1 ring-gray-300 shadow-sm leading-4 hover:bg-gray-50">Отключить 2FA</button>
					<p>Код восстановления: HsxS-BCve-hoYo-PfWn-Wqvk</p>
				</div>
			</form>

			{% block modals %}
				{% include 'clients/profile/modals/clients.profile.password.html.twig' %}
				{% include 'clients/profile/modals/clients.profile.2fa.html.twig' %}
			{% endblock %}
		</div>
	</profile-settings>

{% endblock %}
