<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>

		<link rel="icon" href="{{ asset('src/favicon.ico') }}">

		{% block stylesheets %}
			<link href="{{ asset('dist/styles.css') }}" rel="stylesheet"/>
		{% endblock %}


	</head>

	{% block aside %}

		{% include "/parts/aside.html.twig" %}

	{% endblock %}

	{#<body class="h-full flex flex-col">#}

	<body class="h-full">
	{% block body %}

        <main id="app">
		    {% block main %}{% endblock %}
        </main>
	{% endblock %}

	{% block footer %}

		{% include "/parts/footer.html.twig" %}

	{% endblock %}

		{% block javascripts %}
		<script src="{{ asset('dist/js/vendors.js') }}"></script>
		<script src="{{ asset('dist/js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>
