<!DOCTYPE html>
<html class="h-full bg-white">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link rel="icon" href="{{ asset('src/favicon.ico') }}">

	{% block stylesheets %}
		<link href="{{ asset('dist/styles.css') }}" rel="stylesheet"/>
	{% endblock %}

	{% block javascripts %}

	{% endblock %}

</head>

{% block aside %}

	{% include "/parts/aside.html.twig" %}

{% endblock %}

{#<body class="h-full flex flex-col">#}

<body class="h-full">
{% block body %}

{% endblock %}

{% block footer %}

	{% include "/parts/footer.html.twig" %}

{% endblock %}

</body>
</html>
