{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

	<main>
		<div class="flex min-h-screen">
			<div class="w-[732px] py-28 px-32 shrink-0">
				<form class="w-[476px]" action="{{ path('clients') }}">
					{{ source('misc/svg/logo.svg') }}
					<h2 class="mt-20 text-3xl font-bold">Войдите в свой аккаунт</h2>
					<p class="mt-4 text-gray-500 font-sm font-medium">👋 Добро пожаловать! Пожалуйста, введите свои данные</p>
					<div class="mt-8">
						<div class="rounded-md p-4 space-y-1 ring-1 ring-inset ring-gray-200 focus-within:ring-2 focus-within:ring-indigo-500">
							<label for="login" class="block text-xs font-medium">Логин</label>
							<input type="text" id="login" class="inputs block w-full p-0 ring-0 text-sm hover:bg-white focus:ring-0" placeholder="Введите логин">
						</div>
					</div>
					<div class="mt-4">
						<div class="relative rounded-md p-4 space-y-1 ring-1 ring-inset ring-gray-200 focus-within:ring-2 focus-within:ring-indigo-500">
							<label for="password" class="block text-xs font-medium">Пароль</label>
							<input type="password" id="password" class="inputs block w-full p-0 ring-0 text-sm hover:bg-white focus:ring-0" placeholder="Введите пароль">
{#							<div class="flex items-center">#}
{#								<input v-model="password" :type="isPasswordHidden ? 'password' : 'text'" id="password" placeholder="•••••••••••••"#}
{#								       class="block w-full mr-10 ring-0 text-sm"#}
{#								       :class="{'bg-red-50 placeholder-red-300': $form['password'] && $form['password'].$dirty && !$form['password'].$valid}">#}
{#								<button @click="toggleShowHide()" type="button">#}
{#									<svg v-if="isPasswordHidden" class="absolute top-[26px] right-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">#}
{#										<path fill-rule="evenodd" clip-rule="evenodd" d="M3.28033 2.21967C2.98744 1.92678 2.51256 1.92678 2.21967 2.21967C1.92678 2.51256 1.92678 2.98744 2.21967 3.28033L16.7197 17.7803C17.0126 18.0732 17.4874 18.0732 17.7803 17.7803C18.0732 17.4874 18.0732 17.0126 17.7803 16.7197L16.0352 14.9745C17.5064 13.8594 18.6595 12.3465 19.3344 10.5959C19.4814 10.2144 19.4816 9.79127 19.3347 9.40962C17.892 5.66051 14.256 3 9.99859 3C8.28207 3 6.66657 3.43249 5.2551 4.19444L3.28033 2.21967ZM7.75194 6.69128L8.84367 7.78301C9.18951 7.60223 9.58291 7.5 10.0002 7.5C11.3809 7.5 12.5002 8.61929 12.5002 10C12.5002 10.4173 12.398 10.8107 12.2172 11.1565L13.3091 12.2484C13.7454 11.6077 14.0004 10.8336 14.0004 10C14.0004 7.79086 12.2095 6 10.0004 6C9.16675 6 8.39268 6.25501 7.75194 6.69128Z" fill="#9CA3AF"/>#}
{#										<path d="M10.7484 13.9302L13.2711 16.4529C12.2462 16.8074 11.1458 17 10.0004 17C5.74298 17 2.10698 14.3395 0.664255 10.5904C0.517392 10.2087 0.517518 9.78563 0.66461 9.40408C1.15603 8.12932 1.90108 6.98057 2.83791 6.01969L6.0702 9.25198C6.02436 9.4943 6.00037 9.74435 6.00037 10C6.00037 12.2091 7.79123 14 10.0004 14C10.256 14 10.5061 13.976 10.7484 13.9302Z" fill="#9CA3AF"/>#}
{#									</svg>#}
{#									<svg v-if="!isPasswordHidden" class="absolute top-[26px] right-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">#}
{#										<path d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z" fill="#9CA3AF"/>#}
{#										<path fill-rule="evenodd" clip-rule="evenodd" d="M0.664255 10.5904C0.517392 10.2087 0.517518 9.78563 0.66461 9.40408C2.10878 5.65788 5.7433 3 9.99859 3C14.256 3 17.892 5.66051 19.3347 9.40962C19.4816 9.79127 19.4814 10.2144 19.3344 10.5959C17.8902 14.3421 14.2557 17 10.0004 17C5.74298 17 2.10698 14.3395 0.664255 10.5904ZM14.0004 10C14.0004 12.2091 12.2095 14 10.0004 14C7.79123 14 6.00037 12.2091 6.00037 10C6.00037 7.79086 7.79123 6 10.0004 6C12.2095 6 14.0004 7.79086 14.0004 10Z" fill="#9CA3AF"/>#}
{#									</svg>#}
{#								</button>#}
{#							</div>#}
						</div>
					</div>
					<div class="mt-4 flex items-center space-x-2">
						<input id="save_user" type="checkbox" class="checkbox">
						<label for="save_user" class="text-sm">Запомнить</label>
					</div>
					<div class="mt-14">
						<button class="w-full py-3 px-6 bg-indigo-600 rounded-md shadow-sm text-white font-medium hover:bg-indigo-700" type="submit">Войти</button>
					</div>
				</form>
			</div>
			<div class="grow py-28 pl-32 bg-gray-50 overflow-hidden">
				<h3 class="text-xl font-semibold">ITCRM: Administration area</h3>
				<p class="mt-2 text-gray-500 text-sm font-medium">Система управления клиентами и заказами</p>
				<img src="{{ asset('src/sign_in_img.png') }}" class="mt-14 max-w-fit">
			</div>
		</div>
	</main>

{% endblock %}

{% block footer %}{% endblock %}
