{% extends 'support/support.base.html.twig' %}

{% set title = 'TEST' %}

{% block content %}

	<support-settings inline-template>

		<div class="p-8 space-y-6 divide-y-2">

			<div>
				{% set filt = ['one', 'two', 'three', 'four', 'five'] %}
				{% for i in filt|filter(i => i not in ['two', 'three']) %}
					<p>{{ i }}</p>
				{% endfor %}
			</div>

			<div>
				{# config/packages/twig.yaml #}
				{% for i in test_glob %}
					<p>{{ i.id }} - {{ i.text }}</p>
				{% endfor %}
			</div>

			<div class="popover__wrapper relative inline-block">
				<h2 class="mt-4 py-2 px-4 border rounded-md hover:bg-gray-50">Hover:me</h2>
				<div class="popover__content w-fit py-2 px-3 bg-gray-800 text-gray-100 text-xs font-medium rounded-lg whitespace-nowrap">
					<p>Here is some text for tooltip and there is may be very long string.</p>
				</div>
			</div>

			<div>
				<ul class="grid grid-cols-3 gap-x-5 m-10 max-w-md mx-auto">
					<li class="relative">
						<input class="sr-only peer" type="radio" value="yes" name="answer" id="answer_yes">
						<label class="flex p-5 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-green-500 peer-checked:ring-2 peer-checked:border-transparent" for="answer_yes">Yes</label>
						<div class="absolute hidden w-5 h-5 peer-checked:block top-5 right-3">👍</div>
					</li>

					<li class="relative">
						<input class="sr-only peer" type="radio" value="no" name="answer" id="answer_no">
						<label class="flex p-5 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-red-500 peer-checked:ring-2 peer-checked:border-transparent" for="answer_no">No</label>
						<div class="absolute hidden w-5 h-5 peer-checked:block top-5 right-3">👎</div>
					</li>

					<li class="relative">
						<input class="sr-only peer" type="radio" value="maybe" name="answer" id="answer_maybe">
						<label class="flex p-5 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-yellow-500 peer-checked:ring-2 peer-checked:border-transparent" for="answer_maybe">Maybe</label>
						<div class="absolute hidden w-5 h-5 peer-checked:block top-5 right-3">🤔</div>
					</li>
				</ul>
			</div>


			<div class="py-8 space-y-4">
				<div class="w-64 ring-1 ring-gray-500 p-5">
					<div class="w-fit px-2.5 py-0.5 rounded-full bg-green-100 text-xs text-green-800 font-medium whitespace-nowrap">Waiting for Manager</div>
				</div>
			</div>

			<div class="mt-4 py-8 flex items-center space-x-2">
				<input id="save_user" type="checkbox" class="checkbox">
				<label for="save_user" class="text-gray-900 text-sm">Запомнить</label>
			</div>


			<div class="py-8">
				<label for="toggle_topup" class="relative flex items-center cursor-pointer">
					<input type="checkbox" id="toggle_topup" class="sr-only">
					<div class="toggle_body"></div>
					<div class="toggle_dot"></div>
				</label>
			</div>


			<div class="py-8">
				<input class="w-[240px] p-2 text-sm inputs" placeholder="Поиск по Email или ID" type="text">
			</div>
		</div>

	</support-settings>

	<div class="hidden text-orange-400 text-orange-800 text-blue-400 text-green-500 bg-blue-400 bg-orange-200 bg-gray-400 bg-purple-400 focus:ring-red-500"></div>

{% endblock %}


