{% extends 'support/support.base.html.twig' %}

{% set title = 'TEST' %}

{% block content %}

	<support-settings inline-template>

		<div class="mt-6">
			<div class="max-w-5xl px-4 sm:px-6 lg:px-8 space-y-6">

				{% set x = 123 %}

				{# invoices #}
				{% set statuses = {'Pending': 'red', 'Paid': 'green', 'Cancelled': 'gray', 'Overdue': 'gray', 'Draft': 'purple'} %}

				{# tickets #}
				{% set statuses = {'Important!': 'red', 'Open': 'red', 'In progress': 'orange', 'Answered': 'yellow', 'Customer reply': 'yellow', 'Waiting for manager': 'yellow', 'On hold': 'blue', 'Closed': 'green'} %}

				{# transactions #}
				{% set statuses = {'Частично засчитана': 'red', 'Не засчитана': 'red', 'Мошенническая': 'red', 'Возвращена': 'orange', 'Заморожена': 'blue', 'В ожидании': 'blue', 'Засчитана': 'green', 'Игнорируется': 'gray', 'Отменена': 'gray'} %}


				{% for i in iplogs %}
					{% if i.id == 111 %}
						{% set x = 321 %}
					{% for j in i.logs %}

						<p>{{ j.date }}</p>

					{% endfor %}
					{% endif %}
				{% endfor %}


				{% set filt = ['one', 'two', 'three', 'four', 'five'] %}
				{% for i in filt|filter(i => i not in ['two', 'three']) %}
					<p>{{ i }}</p>
				{% endfor %}

				<hr>
				<p>{{ x }}</p>



			</div>
		</div>

	</support-settings>

{% endblock %}
