{% extends 'base.html.twig' %}

{% block main %}

	<settings-module inline-template>

		<settings-settings inline-template>

			<main class="pb-24">

				{% set navigation = ['Abuses', 'IP адреса', 'Network', 'SSL сертификаты', 'Администрирование', 'Аккаунт', 'Биллинг', 'Бухгалтерия', 'Быстрые ответы', 'Верификация', 'Вопросы по заказу', 'Замена локации / IP адресов для VPS', 'Лимиты и ограничения', 'Общие уведомления', 'Партнёрская программа', 'Уведомления'] %}

				{% set categories = ['IP адреса', 'Network', 'SSL сертификаты', 'Биллинг', 'Бухгалтерия', 'Быстрые ответы', 'Верификация', 'Вопросы по заказу', 'Партнёрская программа', 'Уведомления'] %}

				{% block header %}

					<div class="flex items-center justify-between py-4 px-8 bg-gray-50">
						<h3 class="text-gray-900 font-semibold text-lg leading-6">Статьи, новости и блоги</h3>
						<button @click="answerEditor()" class="inline-flex items-center py-2 pl-3 pr-4 space-x-2 rounded-md bg-indigo-600 text-white text-sm font-medium shadow-sm hover:bg-indigo-700" type="button">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
								<path d="M10.75 4.75C10.75 4.33579 10.4142 4 10 4C9.58579 4 9.25 4.33579 9.25 4.75V9.25H4.75C4.33579 9.25 4 9.58579 4 10C4 10.4142 4.33579 10.75 4.75 10.75L9.25 10.75V15.25C9.25 15.6642 9.58579 16 10 16C10.4142 16 10.75 15.6642 10.75 15.25V10.75L15.25 10.75C15.6642 10.75 16 10.4142 16 10C16 9.58579 15.6642 9.25 15.25 9.25H10.75V4.75Z" fill="white"/>
							</svg>
							<span>Добавить ответ</span>
						</button>
					</div>
					<div class="flex pt-4 px-8 space-x-8 border-b bg-gray-50">
						<a href="{{ path('settings_answers') }}" class="pb-[14px] border-b-2 text-sm font-medium hover:border-gray-300 hover:text-gray-700 {% if currentTab == 'settings_answers' %} border-indigo-500 text-indigo-600 pointer-events-none{% else %} text-gray-500 border-transparent {% endif %}">Ответы</a>
						<a href="{{ path('settings_categories') }}" class="pb-[14px] border-b-2 text-sm font-medium hover:border-gray-300 hover:text-gray-700 {% if currentTab == 'settings_categories' %} border-indigo-500 text-indigo-600 pointer-events-none{% else %} text-gray-500 border-transparent {% endif %}">Категории</a>
					</div>

				{% endblock %}

				{% block content %}

					<div class="pt-6 pb-4 px-8">

						{% block answers %}{% endblock %}

						{% block categories %}{% endblock %}

					</div>

				{% endblock %}

				{% block modals %}
					{% include'settings/answers/modals/answer.editor.html.twig' %}
					{% include 'settings/answers/modals/delete.answers.html.twig' %}
					{% include 'settings/answers/modals/delete.category.html.twig' %}
				{% endblock %}

			</main>

		</settings-settings>

	</settings-module>

{% endblock %}
