@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base {
    body {
        font-family: 'Roboto', sans-serif;
    }
}

@layer components {
    .container {
        @apply max-w-4/5
    }

    .btn {
        @apply max-w-fit inline-block mt-6 p-8 rounded-xl
    }
}

.filter {
    @apply transition-all duration-500
}
*/

[aria-expanded="false"] + * {
	display: none;
}

[aria-expanded="true"] + * {
	display: block;
}

[v-cloak] {
	display: none !important;
}

input[type="checkbox"], input[type="checkbox"] + label {
	cursor: pointer;
}

[aria-expanded="true"] .arrow, [aria-expanded="true"] ~ .arrow {
	transform: rotate(180deg);
}

.aside-menu [aria-expanded="true"] .arrow {
	transform: rotate(90deg);
	transition: 0.2s;
}

.aside-menu button[aria-expanded="true"] {
	background: #111827;
}

.ticket-answers > button[aria-expanded="true"] {
	background: #F9FAFB;
}

.ticket-answers > button[aria-expanded="true"] .change_text_color {
	color: #1F2937;
}

.ticket-answers > button[aria-expanded="true"] .change_icon_color {
	color: #374151;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.aside-menu:not(:hover) [aria-expanded="true"] + * {
		display: none;
	}
}

.notification {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}

.test:has(input:checked) {
	background: lightblue;
	border-color: mediumpurple;
}

input:checked ~ .dot {
	transform: translateX(100%);
}

input:checked ~ .toggle {
	background-color: #4F46E5;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
	outline: none;
	outline-offset: 0;
	box-shadow: none;
	border-color: #6366F1;
	color: #111827;
}

[type='text']:hover, [type='email']:hover, [type='url']:hover, [type='password']:hover, [type='number']:hover, [type='date']:hover, [type='datetime-local']:hover, [type='month']:hover, [type='search']:hover, [type='tel']:hover, [type='time']:hover, [type='week']:hover, [multiple]:hover, select:hover {
	background: #F9FAFB;
}


/*[popover] {*/
/*	inset: unset;*/
/*	bottom: anchor(top);*/
/*	left: anchor(center);*/
/*	translate: -50%;*/
/*	margin: 0.25rem 0;*/
/*}*/

@layer demo {
	[popovertarget] {
		anchor-name: --select-button;
	}
	.select-menu:has(:open) svg {
		rotate: 180deg;
	}
	option:hover {
		background: lightblue;
	}
	svg {
		transition: rotate 0.2s;
	}
	[popover] {
		anchor-default: --select-button;
		width: anchor-size(width);
		left: anchor(left);
	}
}

:root {
}



/*	tooltips	*/
.popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.popover__content:before {
	position: absolute;
	z-index: -1;
	content: "";
	right: calc(50% - 10px);
	bottom: -8px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #1F2937 transparent transparent transparent;
}

.popover__wrapper:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, 4px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	transition-delay: 0.5s;
}
/*	end of tooltips	*/
