@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
	display: none !important;
}

@layer base {
	html {
		@apply text-gray-900;
	}

	input[type="checkbox"], input[type="checkbox"] ~ label {
		@apply cursor-pointer;
	}

	svg {
		@apply flex-shrink-0;
	}

	tr:hover {
		@apply bg-gray-50;
	}
}

@layer components {
	.inputs {
		@apply border-none ring-1 ring-gray-300 shadow-sm rounded-md placeholder-gray-400 hover:bg-gray-50 focus:ring-indigo-500;
	}

    .checkbox {
        @apply h-4 w-4 border-none text-indigo-600 ring-1 ring-gray-300 rounded hover:bg-indigo-50 hover:ring-indigo-400 checked:ring-0 focus:ring-1 focus:ring-indigo-500;
    }

	.checkbox_field {
		@apply divide-y ring-1 ring-gray-300 rounded-md overflow-hidden;
	}

	.checkbox_field > div {
		@apply hover:bg-gray-50;
	}

	.toggle_body {
		@apply w-11 h-6 rounded-full bg-gray-200 hover:bg-gray-300;
	}
	input:checked ~ .toggle_body {
		@apply bg-indigo-600;
	}

	.toggle_dot {
		@apply absolute left-0.5 top-0.5 bg-white w-5 h-5 rounded-full transition;
	}
	input:checked ~ .toggle_dot {
		@apply translate-x-full;
	}

	.notification {
		@apply rounded-md shadow-lg;
	}

	.dropdown {
		@apply absolute z-10 top-10 py-1 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
	}
	.dropdown > li:hover {
		@apply bg-gray-50;
	}

	.texteditor button {
		@apply p-2 rounded hover:bg-gray-100 focus:bg-gray-100;
	}

	[aria-expanded="false"] + * {
		@apply hidden;
	}

	[aria-expanded="true"] + * {
		@apply block;
	}

	[aria-expanded="true"] .arrow, [aria-expanded="true"] ~ .arrow {
		@apply rotate-180;
	}

	/* aside menu */
	.aside-menu {
		@apply z-10 fixed inset-y-0 w-64 flex flex-col bg-gray-800
	}

	.aside-menu [aria-expanded="true"] .arrow {
		@apply rotate-90;
	}

	.aside-menu button > * {
		@apply pointer-events-none;
	}
	/* end */
}


/* delete arrows in type='number'  */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type='number'] {
	-moz-appearance: textfield;
}
/* end */


.ticket-answers > button[aria-expanded="true"] {
	background: #F9FAFB;
}

.ticket-answers > button[aria-expanded="true"] .change_text_color {
	color: #1F2937;
}

.ticket-answers > button[aria-expanded="true"] .change_icon_color {
	color: #374151;
}


/*	tooltips	*/
.popover__content, .popover__left {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.popover__content:before {
	position: absolute;
	z-index: -1;
	content: "";
	right: calc(50% - 10px);
	bottom: -8px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #1F2937 transparent transparent transparent;
}

.popover__left:before {
	position: absolute;
	z-index: -1;
	content: "";
	left: 10px;
	bottom: -8px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #1F2937 transparent transparent transparent;
}

.popover__wrapper:hover .popover__content, .popover__wrapper:hover .popover__left {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, 4px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	transition-delay: 0.5s;
}
/*	end of tooltips	*/

