{% extends 'base.html.twig' %}

{% set side_menu_item = 'clients:profile' %}

{% block main %}

	<clients-module inline-template>
		<main class="pb-20">

			{% set userID = userID() %}
			{% set userData = allClients() %}

			{% for user in userData %}
				{% if userID == user.id %}

					{% block header %}
						{% include 'clients/header.profile.html.twig' %}
					{% endblock %}

					{% block profile %}{% endblock %}
					{% block services %}{% endblock %}
					{% block invoices %}{% endblock %}
					{% block tickets %}{% endblock %}
					{% block credits %}{% endblock %}
					{% block transactions %}{% endblock %}
					{% block emails %}{% endblock %}
					{% block notes %}{% endblock %}
					{% block duplicates %}{% endblock %}

				{% endif %}
			{% endfor %}

		</main>
	</clients-module>

{% endblock %}
