{% extends 'base.html.twig' %}

{% block main %}

	<clients-module inline-template>
		<main class="mb-20">

			{% set userID = userID() %}
			{% set userData = allClients() %}

			{% for user in userData %}
				{% if userID == user.id %}

					{% block header %}
						{% include 'clients/header.profile.html.twig' %}
					{% endblock %}

					{% block content %}{% endblock %}

				{% endif %}
			{% endfor %}

		</main>
	</clients-module>

{% endblock %}
