{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

<clients-module inline-template>

{% block main %}

	<div class="flex flex-1 flex-col">
		<main class="flex-1 mb-24">

		{% include "clients/header.profile.html.twig" %}

		</main>
	</div>

{% endblock %}

</clients-module>
