<div class="fixed bottom-0 left-0 w-full h-14 bg-gray-50 lg:mx-64">
    <div class="flex justify-between py-5 px-8 items-center text-gray-400 text-xs">
        <div>
            <a href="">Bug report</a>
            <a class="ml-8" href="">Suggest an idea</a>
        </div>
        <div>
            <p class="mr-64" href="">is*admin 2022</p>
        </div>
    </div>
</div>