<div class="fixed bottom-0 left-0 w-full h-14 bg-gray-50 md:mx-16 lg:mx-64">
    <div class="flex justify-between py-5 px-4 sm:px-6 lg:px-8 items-center text-gray-400 text-xs">
        <div>
            <a href="#">Bug report</a>
            <a class="ml-8" href="#">Suggest an idea</a>
        </div>
        <div class="md:mr-16 lg:mr-64">
            {{ product }} 2022
        </div>
    </div>
</div>
