<div class="flex p-2 space-x-2 border-b border-gray-300">
	<button type="button" class="flex items-center p-2 space-x-1 rounded text-left hover:bg-gray-100 focus:bg-gray-100">
		<span class="text-gray-600 text-sm">Paragraph</span>
		{{ source('misc/svg/texteditor/arrows.svg') }}
	</button>
	<div class="flex items-center space-x-0.5 text-sm text-gray-500 font-semibold">
		<button type="button" class="w-9 p-2 rounded text-sm font-semibold hover:bg-gray-100 focus:bg-gray-100">B</button>
		<button type="button" class="w-9 p-2 rounded text-sm italic hover:bg-gray-100 focus:bg-gray-100">I</button>
		<button type="button" class="w-9 p-2 rounded text-sm font-medium underline hover:bg-gray-100 focus:bg-gray-100">U</button>
		<button type="button" class="w-9 p-2 rounded text-sm font-medium hover:bg-gray-100 focus:bg-gray-100"><s>S</s></button>
	</div>
	<div class="flex items-center space-x-0.5">
		<button type="button" class="w-9 p-2 rounded hover:bg-gray-100 focus:bg-gray-100">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.75C6 4.33579 6.33579 4 6.75 4H17.25C17.6642 4 18 4.33579 18 4.75C18 5.16421 17.6642 5.5 17.25 5.5H6.75C6.33579 5.5 6 5.16421 6 4.75ZM6 10C6 9.58579 6.33579 9.25 6.75 9.25H17.25C17.6642 9.25 18 9.58579 18 10C18 10.4142 17.6642 10.75 17.25 10.75H6.75C6.33579 10.75 6 10.4142 6 10ZM6 15.25C6 14.8358 6.33579 14.5 6.75 14.5H17.25C17.6642 14.5 18 14.8358 18 15.25C18 15.6642 17.6642 16 17.25 16H6.75C6.33579 16 6 15.6642 6 15.25Z" fill="#6B7280"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M1.98999 4.75C1.98999 4.19772 2.43771 3.75 2.98999 3.75H2.99999C3.55228 3.75 3.99999 4.19772 3.99999 4.75V4.76C3.99999 5.31228 3.55228 5.76 2.99999 5.76H2.98999C2.43771 5.76 1.98999 5.31228 1.98999 4.76V4.75Z" fill="#6B7280"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M1.98999 15.25C1.98999 14.6977 2.43771 14.25 2.98999 14.25H2.99999C3.55228 14.25 3.99999 14.6977 3.99999 15.25V15.26C3.99999 15.8123 3.55228 16.26 2.99999 16.26H2.98999C2.43771 16.26 1.98999 15.8123 1.98999 15.26V15.25Z" fill="#6B7280"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M1.98999 10C1.98999 9.44772 2.43771 9 2.98999 9H2.99999C3.55228 9 3.99999 9.44772 3.99999 10V10.01C3.99999 10.5623 3.55228 11.01 2.99999 11.01H2.98999C2.43771 11.01 1.98999 10.5623 1.98999 10.01V10Z" fill="#6B7280"/>
			</svg>
		</button>
		<button type="button" class="w-9 p-2 rounded hover:bg-gray-100 focus:bg-gray-100">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
				<path d="M3.3448 5.96154V3.27832H2.674L2.01367 3.68185V4.30025L2.60063 3.94913H2.61635V5.96154H3.3448Z" fill="#6B7280"/>
				<path d="M6.75 4.00012C6.33579 4.00012 6 4.33591 6 4.75012C6 5.16434 6.33579 5.50012 6.75 5.50012H17.25C17.6642 5.50012 18 5.16434 18 4.75012C18 4.33591 17.6642 4.00012 17.25 4.00012H6.75Z" fill="#6B7280"/>
				<path d="M6.75 9.25012C6.33579 9.25012 6 9.58591 6 10.0001C6 10.4143 6.33579 10.7501 6.75 10.7501H17.25C17.6642 10.7501 18 10.4143 18 10.0001C18 9.58591 17.6642 9.25012 17.25 9.25012H6.75Z" fill="#6B7280"/>
				<path d="M6.75 14.5001C6.33579 14.5001 6 14.8359 6 15.2501C6 15.6643 6.33579 16.0001 6.75 16.0001H17.25C17.6642 16.0001 18 15.6643 18 15.2501C18 14.8359 17.6642 14.5001 17.25 14.5001H6.75Z" fill="#6B7280"/>
				<path d="M2.03532 10.9619V10.4378L3.03629 9.60976C3.10267 9.55473 3.15944 9.5032 3.20661 9.45516C3.25465 9.40625 3.29133 9.35602 3.31666 9.30449C3.34286 9.25296 3.35597 9.19575 3.35597 9.13286C3.35597 9.06386 3.34112 9.0049 3.31142 8.95599C3.2826 8.90707 3.24242 8.86951 3.19089 8.84331C3.13935 8.81623 3.07996 8.8027 3.0127 8.8027C2.94545 8.8027 2.88605 8.81623 2.83452 8.84331C2.78386 8.87039 2.74455 8.91013 2.7166 8.96254C2.68865 9.01494 2.67468 9.0787 2.67468 9.15382H1.98291C1.98291 8.96516 2.02527 8.8027 2.11 8.66644C2.19472 8.53018 2.31438 8.42537 2.46898 8.352C2.62358 8.27863 2.80482 8.24194 3.0127 8.24194C3.22757 8.24194 3.41361 8.27644 3.57083 8.34545C3.72893 8.41358 3.85077 8.50965 3.93637 8.63368C4.02284 8.75771 4.06608 8.90314 4.06608 9.06997C4.06608 9.17304 4.04468 9.27567 4.00188 9.37786C3.95908 9.47918 3.88222 9.59142 3.77129 9.71457C3.66036 9.83773 3.50271 9.98447 3.29832 10.1548L3.04677 10.3644V10.3801H4.0949V10.9619H2.03532Z" fill="#6B7280"/>
				<path d="M2.41511 16.1514C2.57932 16.2239 2.76711 16.2601 2.97849 16.2601C3.19772 16.2601 3.39119 16.2256 3.55889 16.1566C3.72747 16.0876 3.85892 15.9924 3.95325 15.871C4.04846 15.7496 4.09562 15.6103 4.09475 15.4531C4.0965 15.2889 4.04278 15.1526 3.9336 15.0443C3.82442 14.9351 3.66152 14.8687 3.44491 14.8452V14.8242C3.60475 14.8067 3.73664 14.7499 3.84058 14.6539C3.94539 14.5578 3.99692 14.4346 3.99518 14.2844C3.99605 14.1333 3.95325 13.9992 3.86678 13.8822C3.78118 13.7643 3.66196 13.6717 3.50911 13.6044C3.35713 13.5372 3.182 13.5035 2.98373 13.5035C2.78109 13.5035 2.6016 13.5394 2.44525 13.611C2.2889 13.6826 2.16575 13.7813 2.07578 13.9071C1.98669 14.0328 1.94171 14.1778 1.94083 14.342H2.63784C2.63872 14.2879 2.654 14.2399 2.6837 14.1979C2.7134 14.156 2.75401 14.1232 2.80555 14.0997C2.85795 14.0761 2.91735 14.0643 2.98373 14.0643C3.04487 14.0643 3.09859 14.0756 3.14488 14.0984C3.19204 14.1211 3.22873 14.1525 3.25493 14.1927C3.28114 14.2329 3.2938 14.2792 3.29293 14.3316C3.2938 14.3857 3.27852 14.4338 3.24707 14.4757C3.2165 14.5176 3.17327 14.5504 3.11737 14.5739C3.06234 14.5975 2.99858 14.6093 2.92608 14.6093H2.65357V15.1124H2.92608C3.00469 15.1124 3.07413 15.1242 3.1344 15.1478C3.19467 15.1714 3.24139 15.2041 3.27459 15.2461C3.30865 15.288 3.32524 15.336 3.32437 15.3902C3.32524 15.4452 3.31127 15.4941 3.28245 15.5369C3.25362 15.5797 3.21344 15.6133 3.16191 15.6378C3.11038 15.6614 3.05098 15.6732 2.98373 15.6732C2.91385 15.6732 2.85184 15.6618 2.79768 15.6391C2.74353 15.6164 2.70073 15.585 2.66929 15.5448C2.63872 15.5037 2.623 15.4574 2.62212 15.4059H1.88843C1.8893 15.5727 1.93647 15.7203 2.02993 15.8487C2.12338 15.9771 2.25178 16.078 2.41511 16.1514Z" fill="#6B7280"/>
			</svg>
		</button>
	</div>
	<div class="flex items-center space-x-0.5">
		<button type="button" class="w-9 p-2 rounded hover:bg-gray-100 focus:bg-gray-100">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M1 5.25C1 4.00736 2.00736 3 3.25 3H16.75C17.9926 3 19 4.00736 19 5.25V14.75C19 15.9926 17.9926 17 16.75 17H3.25C2.00736 17 1 15.9926 1 14.75V5.25ZM2.5 11.0607V14.75C2.5 15.1642 2.83579 15.5 3.25 15.5H16.75C17.1642 15.5 17.5 15.1642 17.5 14.75V12.0607L15.2803 9.84099C14.9874 9.5481 14.5126 9.5481 14.2197 9.84099L12.3107 11.75L12.7803 12.2197C13.0732 12.5126 13.0732 12.9874 12.7803 13.2803C12.4874 13.5732 12.0126 13.5732 11.7197 13.2803L6.53033 8.09099C6.23744 7.7981 5.76256 7.7981 5.46967 8.09099L2.5 11.0607ZM12 7C12 7.55228 11.5523 8 11 8C10.4477 8 10 7.55228 10 7C10 6.44772 10.4477 6 11 6C11.5523 6 12 6.44772 12 7Z" fill="#6B7280"/>
			</svg>
		</button>
		<button type="button" class="w-9 p-2 rounded hover:bg-gray-100 focus:bg-gray-100">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.2322 4.23223C13.2085 3.25592 14.7915 3.25592 15.7678 4.23223C16.7441 5.20854 16.7441 6.79146 15.7678 7.76777L14.5434 8.9921C14.2505 9.28499 14.2505 9.75987 14.5434 10.0528C14.8363 10.3457 15.3112 10.3457 15.6041 10.0528L16.8284 8.82843C18.3905 7.26633 18.3905 4.73367 16.8284 3.17157C15.2663 1.60948 12.7337 1.60948 11.1716 3.17157L8.17157 6.17157C6.60948 7.73367 6.60948 10.2663 8.17157 11.8284C8.24449 11.9013 8.31963 11.9709 8.3968 12.0372C8.71107 12.307 9.18457 12.271 9.45441 11.9567C9.72424 11.6425 9.68822 11.169 9.37395 10.8991C9.32556 10.8576 9.27828 10.8138 9.23223 10.7678C8.25592 9.79145 8.25592 8.20854 9.23223 7.23223L12.2322 4.23223Z" fill="#6B7280"/>
				<path d="M11.6032 7.96278C11.2889 7.69295 10.8154 7.72897 10.5456 8.04324C10.2758 8.3575 10.3118 8.83101 10.626 9.10084C10.6744 9.14239 10.7217 9.18618 10.7678 9.23222C11.7441 10.2085 11.7441 11.7914 10.7678 12.7678L7.76777 15.7678C6.79146 16.7441 5.20854 16.7441 4.23223 15.7678C3.25592 14.7914 3.25592 13.2085 4.23223 12.2322L5.45657 11.0079C5.74946 10.715 5.74946 10.2401 5.45657 9.94723C5.16367 9.65433 4.6888 9.65433 4.39591 9.94723L3.17157 11.1716C1.60948 12.7337 1.60948 15.2663 3.17157 16.8284C4.73367 18.3905 7.26633 18.3905 8.82843 16.8284L11.8284 13.8284C13.3905 12.2663 13.3905 9.73366 11.8284 8.17156C11.7555 8.09864 11.6804 8.02904 11.6032 7.96278Z" fill="#6B7280"/>
			</svg>
		</button>
		<button type="button" class="w-9 p-2 rounded hover:bg-gray-100 focus:bg-gray-100">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M6.28033 5.21979C6.57322 5.51269 6.57322 5.98756 6.28033 6.28045L2.56066 10.0001L6.28033 13.7198C6.57322 14.0127 6.57322 14.4876 6.28033 14.7805C5.98744 15.0733 5.51256 15.0733 5.21967 14.7805L0.96967 10.5305C0.676777 10.2376 0.676777 9.76269 0.96967 9.46979L5.21967 5.21979C5.51256 4.9269 5.98744 4.9269 6.28033 5.21979ZM13.7197 5.21979C14.0126 4.9269 14.4874 4.9269 14.7803 5.21979L19.0303 9.46979C19.3232 9.76269 19.3232 10.2376 19.0303 10.5305L14.7803 14.7805C14.4874 15.0733 14.0126 15.0733 13.7197 14.7805C13.4268 14.4876 13.4268 14.0127 13.7197 13.7198L17.4393 10.0001L13.7197 6.28045C13.4268 5.98756 13.4268 5.51269 13.7197 5.21979Z" fill="#6B7280"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M11.3774 2.01103C11.7856 2.0814 12.0595 2.46936 11.9891 2.87755L9.48909 17.3776C9.41872 17.7857 9.03076 18.0596 8.62257 17.9892C8.21438 17.9188 7.94053 17.5309 8.0109 17.1227L10.5109 2.62269C10.5813 2.2145 10.9692 1.94065 11.3774 2.01103Z" fill="#6B7280"/>
			</svg>
		</button>
		<button type="button" class="w-9 p-2 rounded hover:bg-gray-100 focus:bg-gray-100">
			<svg width="20" height="20" viewBox="-5 -5 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.106 8C0.495175 8 0 7.48833 0 6.85714V5.71429C0 5.68875 0.000810562 5.66341 0.00240661 5.63829C0.0202866 5.0371 0.137796 4.40695 0.354936 3.74785C0.59156 3.02961 0.920615 2.34193 1.3421 1.68481C1.76359 1.0277 2.25902 0.466092 2.82839 0L4.46997 1.2149C4.01891 1.89494 3.63439 2.60554 3.31643 3.3467C3.14902 3.73694 3.02568 4.14518 2.94641 4.57143H3.31802C3.92885 4.57143 4.42402 5.0831 4.42402 5.71429V6.85714C4.42402 7.48833 3.92885 8 3.31802 8H1.106Z" fill="#6B7280"/>
				<path d="M6.63603 8C6.0252 8 5.53003 7.48833 5.53003 6.85714V5.71429C5.53003 5.68875 5.53084 5.6634 5.53243 5.63828C5.55031 5.03709 5.66782 4.40695 5.88496 3.74785C6.12159 3.02961 6.45064 2.34193 6.87213 1.68481C7.29361 1.0277 7.78905 0.466092 8.35842 0L10 1.2149C9.54893 1.89494 9.16442 2.60554 8.84646 3.3467C8.67905 3.73694 8.55571 4.14518 8.47644 4.57143H8.84804C9.45887 4.57143 9.95405 5.0831 9.95405 5.71429V6.85714C9.95405 7.48833 9.45887 8 8.84804 8H6.63603Z" fill="#6B7280"/>
			</svg>
		</button>
	</div>
</div>


